[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "4.5.4.60"
mediapipe = "0.8.9.1"
pygame = "2.1.0"
[dev-packages]
black = "21.12b0"
pylint = "2.12.2"
[requires]
python_version = "3.10"
